* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  font-family: 'Mulish', 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
body{
  background-color:whitesmoke;
  overflow-x: hidden;
}


/* NAV BAR */


/* ------------------------------------------------------- */

.header {
  /* border-bottom: 1px solid #d92133; */
  /* background: yellowgreen; */
  color:#d92133;
  height: 100%;
  width:100%;
  align-items: center;
  justify-content:center;
}

.navbar {
  display: flex;
  height: 100%;
  width:100%;

  /* background-color:brown; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
  /* color: white; */
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  /* background-color: rgb(221, 16, 16); */
}

.nav-item {
  /* margin-right: 5px;  background-color: aqua; */
  /* justify-content: space-around; */
  align-items: center;
  /* width: 50%; */
}

.nav-link,
.nav-link>button {
  font-size: 17px;
  font-weight: 300;
  color:#d92133;
}

.nav-link>button {
  /* background-color: transparent; */
  padding: 5px;
  font-size: 15px;
  /* font-stretch:normal; */
  color:#d92133;
  border:2px solid #d92133;
  background-color: white;
  border-radius: 13px;
  height: 50px;
  font-weight:500;
  width: 130px;
}
.nav-link:hover {
  color: black;
}
.nav-link>button:hover {
  background-color: red;
  color: white;
}



.nav-logo {
  /* background-color: #db0718; */
  display: flex;
  justify-content:center;
  align-items: center;
  width:40%;
  height:100%;
}



/* ------------------------------------section-1------------------------------------------------------------------------- */
.idol1{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color:red; */
}
.section1-1{
  /* background: rgb(177, 175, 175); */
  /* padding: 100px 30px 120px 30px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position: relative;
  padding: 5px;

}
.section1-1>div {
    padding: 15px;
}
.section1-1-head {
  color:#d92133;
    font-size: 400%;
    width: auto;

}

.section1-1-head1 {
    font-size: 170%;
    width: 70%;
    line-height: 1.5;
    text-align: center;
    /* align-items:left; */
}

.section1-2-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1-2{
  /* background-color: green; */
  width: 90%;
  /* display: flex;
  flex-direction: column; */
}
.section1-icons{
  /* background: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:30%;
}
#rotate{
  animation: rotation 8s infinite linear;
  /* color:red; */
}
@keyframes rotation{
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(359deg);
  }
}
.section1-2-1{
  display:flex;
  margin: 2%;
  align-items: center;
  width: 25%;
  height:100px;
  /* background: red; */
  box-shadow: 5px 5px 10px 0 grey;
  border-radius: 10px;
}
.section1-2-1:hover{
  background-color:  #d92133;
  /* transition: all 0.3s ease-in-out; */
  color:white;
}
.head{
  /* background: blue; */
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-size: 150%;
}
/* ---------------------------------------------------section2 and 3----------------------------------------------------------------- */
.one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 10%;
}

.idol2{
  margin-top: 15%;
  padding:10px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}
.section2-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  /* background-color: #d92133; */
}
.section2-1>div{
  margin-top: 2%;
}
.section2-icons{
  color:  #d92133;
}
.section2-heading{
  
  font-size: 200%;
}
.section2-content{
  font-size: 180%;
  font-weight: 20;
}
.section2-2{
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.idol7{
  background: #f6f5f7;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
/* height: 100vh; */
margin: -20px 0 50px;
  margin-top: 10%;
}
.contact-container {
  display: flex;
  width: 80%;
  /* height: 30%; */
  border: 5px solid black;
}

.left-col {
  width: 50%;
  height: 575px;
  background-image: url("bg1.jpeg");
  background-size:140%;
  background-repeat: no-repeat;
}

.logo {
  width: 14rem;
  padding: 1.5rem;
}

.right-col {
  background: var(--bg-color);
  width: 50%;
  height: 100%;
  /* margin-left: 10%; */
  padding: 5rem 3.5rem;
}

.right-col>h1, form >label, form>button, .description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.right-col>h1 {
  color:#d92133;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 300;
}

.right-col>p {
  color: var(--secondary-color);
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  width: 100%;
  margin-top: 10%;
}

form>label, .description {
  color: #d92133;
  text-transform: uppercase;
  font-size: 90%;
}

.right-col>form {
  width: 100%;
  position: relative;
  margin-top: 4%;
  padding: 1rem 0;
}

form>input, form>textarea, form>label {
  width: 100%;
  display: block;
}

form>p, placeholder, form>input, form>textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

form>input::placeholder, form>textarea::placeholder {
  color: grey;
}

form>input, form>textarea {
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #d92133;
  padding: 5px 0;
  margin-top: 2%;
  margin-bottom: 1rem;
  outline: none;
}

form>textarea {
  resize: none;
}

 form>button {
  text-transform: uppercase;
  font-weight: 300;
  background-color:  white;
  border: 3px solid #d92133;
  border-radius: 20px;
  color: #d92133;
  width: 10rem;
  margin-top: 5%;
  height: 2.25rem;
  outline: none;
  cursor: pointer;
}

input:hover, textarea:hover, button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}


#error, #success-msg {
  width: 40vw;
  /* margin: 0.125rem 0; */
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Jost';
  color: var(--secondary-color);
  }


  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 1250px) {
  .logo {
    width: 8rem;
  }
  .contact-container{
      flex-direction: column;
  }
  .left-col{
      background-size: 100%;
      width:100%;
      height:300px;

  }
  .right-col{

      width: 100%;
      height:50%
  }
  .right-col>h1 {
    font-size: 1.75rem;
  }
  .right-col>p {
    font-size: 0.7rem;
  }
  form>input, form>textarea, form>button {
    font-size: 0.65rem;
  }
  form>button {
    width: 7rem;
  }
  

}
@media only screen and (max-width: 1230px){
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 9rem;
      flex-direction: column;
      /* background: #191c1f; */
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
      left: 0;
  }
  .nav-item {
      margin: 2.5rem 0;
  }
  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .section2-1{
    justify-content:center;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .section1-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color:green; */
  }
  .section1-2-row{
    width:50%;
    flex-direction:column;
    /* justify-content: center;
    align-items: center; */
  }
  .section1-2-1{
    width: 80%;
  }
  .idol2{
    flex-direction: column;
    width:100%;
  }
  .section2-1, .section2-2{
    margin-top: 5%;
    width:80%;
    text-align: center;
  }

}